<div class="container-fluid">
    <div class="row itemsBlock">
        <div *ngFor="let club of clubs" class="col-3 rounded border m-2 bg-light">
             <div class="row bg-danger rounded border">
                    <span class="container text-light clubTitle">{{club.title}}</span>
               </div>
             <div class="container">
               <div class="row">
                    <div class="col">
                         <img class="rounded w-100 h-100 mx-auto-1" src="{{club.img}}">
                    </div>
                    <div class="col">
                         <div class="row">
                              <span>{{club.time}}</span>
                         </div>
                         <div class="row">
                              <span><i class="fa fa-building"></i> {{club.venue}}</span>
                         </div>
                         <div class="row">
                              <span><i class="fa fa-user"></i> {{club.trainer}}</span>
                         </div>
                         <div class="row">
                              <span><i class="fa fa-times-circle"></i> {{club.isFull}}</span>
                         </div>
                    </div>
               </div>
             </div>
        </div>
     </div>
</div>