<div class="backgroundImg">
    <div class="container">
        <div class="row">
            <div class="col-6 p-1">
                <div id="welcomeTxt">
                    <p>"Data really powers everything that we do."" – Jeff Weiner <br> Here at Survey Scrub, we are passionate about all
                    things data. And even more so, <b>Data Integrity.</b> The accuracy and consistency of survey data over its lifecycle 
                    is constantly under threat from fraudsters and dishonest end users. Compromised data, after all, is of little use to 
                    enterprises, not to mention the dangers presented by it. Choose to protect your survey ventures today.<br> 
                    <b>Choose Survey Scrub.</b> </p>
                    <button type="button" class="btn btn-success" routerLink="/register">Register</button>
                </div>
            </div>
            <div class="col-6">
                <div class="jumbotron">
                    <h2>Login</h2>
                    <form #loginForm="ngForm" (ngSubmit)="login()">
                        <input type="email" class="form-control loginInput" name="username" placeholder="Email" required [(ngModel)]="user.email">
                        <input type="password" class="form-control loginInput" name="password" placeholder="Password" required [(ngModel)]="user.password">
                        <hr>
                        <div class="row">
                            <div class="col-6">
                                <button [disabled]="!loginForm.valid" type="submit" class="btn btn-success" >Login</button>
                            </div>
                            <div class="col-6">
                                <a id="passwordReset" href="">Forgot Password?</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="d-flex justify-content-center">
            <button id="aboutUsIcon" routerLink="/aboutus">About Us</button>
        </div>
    </div>
</div>