.backgroundImg {
    position: relative; 
    height: 100vh;
    width: 100%;
    display: flex;
}

.backgroundImg::before {    
    content: "";
    background-image: url('/assets/images/cit-sports-hall.jpg');
    background-size: cover;
    position: fixed;
    z-index:-10;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.3;
}

.profileCard {
    margin-top: 40px;
    border-radius: 20px;
    border: 3px solid #D31145;
}

.profileCardHeader {
    border-radius: 10px 10px 0 0;
    background-color: #D31145;
}

.profilePic {
    margin: -3px;
    border-radius: 20px;
    border: 1px solid #D31145;
}