.clubImg {
    margin: -3px;
    border-radius: 20px;
    border: 1px solid #D31145;
}

.clubcard {
    padding-bottom: 20px;
    border-radius: 20px;
    border: 3px solid #D31145;
}

.clubcardHeader {
    margin-left: -16px;
    margin-right: -16px;
    margin-top: -0.2px;
    border-radius: 10px 10px 0 0;
    background-color: #D31145;
}

.innerContentCard {
    padding-top: 20px;
    padding-left: 10px;
}

.modalClubImg {
    border-radius: 20px;
    border: 1px solid #D31145;
}

.outerModal {
    height: 50px;
    border-radius: 20px 20px 0 0;
    background-color: #D31145;
}

.modalHeader {
    height: 50px;
    border-radius: 10px 10px 0 0;
    background-color: #D31145;
}

.topRowModal {
    margin-top: 25px;
}

.clubTitleModal {
    color: white; 
    font-size: 30px;
}

.icon {
    margin: 5px;
}

.clubDescription {
    margin-top: 10px;
}

.searchBox {
    margin-left: 85px;
}
