.handImgTop {
    height: 100px;
    width: 100px;
}

.handImg {
    height: 200px;
    width: 200px;
}

.handArea {
    height: 200px;
    width: 200px;
}

.qMrk {
    height: 150px;
    width: 150px;
}

.lgSpn {
    font-size: 50px;
    font-family: "Comic Sans MS", cursive, sans-serif;
}

.smSpn {
    font-size: 30px;
    font-family: "Comic Sans MS", cursive, sans-serif;
}

.handFontTop {
    height: 45px;
    width: 50%;
}

#wBoardImg {
    background-image: url('/assets/images/blackboard.png');
    background-size: cover;
    height: 225px;
    width: 100%;
    justify-content: center;
}