<div id="navbar" class="container-fluid p-1 bg-danger ">
  <div class="row">
    <div class="col-1">
      <img id="navLogo" src="assets/images/CIT ICON 2012 (REVERSE RED-RGB).jpg"/>
    </div>
    <div class="col-9">
      <div class="row">
        <h1 class="text-light">
          SMSA
        </h1>
      </div>
      <div class="row">
        <span class="text-light">
          Smart Multifunctional Sports Arena
        </span>
      </div>
    </div>
    <div class="col-1">
      <img class="rounded-circle w-100 h-100 mx-auto-1" src='assets/images/person_stock_img.jpg'>
    </div>
    <div class="col-1 dropdown">
      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" href="#">Action</a>
        <a class="dropdown-item" href="#">Another action</a>
        <a class="dropdown-item" href="#">Something else here</a>
      </div>
    </div>
  </div>
</div>
